<div class="container-fluid">
    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1><b>LISTADO DE PRODUCTOS</b></h1>
        </header>
    </div>
  
  
  <h1>Carga de usuarios</h1>
    <form action="" enctype="multipart/form-data" method="">
        <label for="title">Nombre producto: </label>
        <input type="text" name="title" id="title">
        <br>
        <label for="description">Descripcion: </label>
        <input type="text" name="description" id="description">
        <br>
        <label for="price">Precio: </label>
        <input type="number" name="price" id="price">
        <br>
        <label for="code">Código: </label>
        <input type="text" name="code" id="code">
        <br>
        <label for="stock">Stock: </label>
        <input type="text" name="stock" id="stock">
        <br>
        <input type="hidden" value="true" name="status" id="status">
        <br>
        <label for="category">Categoria: </label>
        <input type="text" name="category" id="category">        
        <br>
        <label for="thumbnail">Miniatura: </label>
        <input type="text" name="thumbnail" id="thumbnail">       
        <br>
        <button id="send" type="button">Enviar</button>
    </form>
<hr>
    <div id="listTable" class="row row-cols-1 row-cols-md-4">
         {{#each q}}
        <div class="col mb-4">
            <div class="card">
                <img src="../public/fuel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text"><small class="text-muted">Cod: {{this.code}}, Precio: {{this.price}}</small>
                    </p>
                </div>
            </div>
        </div>
        {{/each}} --


    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
    const botonEnviar = document.getElementById('send');
    const listTable = document.getElementById('listTable');
    botonEnviar.addEventListener('click', function () {
        const title = document.getElementById('title');
        const description = document.getElementById('description');
        const price = document.getElementById('price');
        const code = document.getElementById('code');
        const stock = document.getElementById('stock');
        const status = document.getElementById('status');
        const category = document.getElementById('category');
        const thumbnail = document.getElementById('thumbnail');


        let obj = {
            title: title.value,
            description: description.value,
            price: price.value,
            code: code.value,
            stock: stock.value,
            status: status.value,
            category: category.value,
            thumbnail: thumbnail.value
        }

        ws.emit('postRequest', obj);
        console.log(`${obj.title} creado correctamente`);
        //Vaciamos el form
        title.value = "";
        description.value = "";
        price.value = "";
        code.value = "";
        stock.value = "";
        category.value = "";
        thumbnail.value = "";

        
    })

    const ws = io('ws://localhost:8081');


function refresh(listTablee) {
    const htmlNew = listTablee.map((item, index) => {
        return(`
      
  <div class="col mb-4">
            <div class="card">
                <img src="../public/fuel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">${item.title}</h5>
                    <p class="card-text">${item.description}</p>
                    <p class="card-text"><small class="text-muted">Cod: ${item.code}, Precio: ${item.price}</small>
                    </p>
                </div>
            </div>
        </div>




        `)
    }).join(" ")
    listTable.innerHTML = htmlNew;
}


    ws.on('connect', () => { 
        
        ws.on('server_confirm', (msg) => {
            console.log(msg)
        });

        ws.on('refreshList',(q) =>{
            refresh(q);
            console.log

        })
    })
</script>